.places {
    margin: 5px 148px 10px;
    width: 984px;
    display: grid;
    grid-row-gap: 80px;
    box-sizing: border-box;

}

@media (min-width: 1150px) and (max-width: 1280px) {
    .places {
        margin: 0 auto;
    }
}

@media screen and (max-width:1140px) {
    .places {
        margin: 6px auto 8px 48px;
        max-width: 928px;
        grid-row-gap: 40px;
    }

}

@media screen and (max-width: 980px) {
    .places {
        max-width: 720px;
        margin: 40px auto 4px 25px;
        grid-row-gap: 0px;

    }
}

@media (min-width: 570px) and (max-width: 740px) {
    .places {
        max-width: 500px;

    }
}

@media screen and (max-width:568px) {
    .places {
        max-width: 320px;
        margin: 26px 0 7px;
        grid-row-gap: 0px;
    }
}