.place__image {
    width: 460px;
    grid-column: 1;
    grid-row: 2/4;
}

@media screen and (max-width:1140px) {
    .place__image {
        width: 440px;
    }
}

@media screen and (max-width: 980px) {
    .place__image {
        width: 340px;

    }
}

@media screen and (max-width:568px) {
    .place__image {
        max-width: 100%;
        margin: 30px 0 34px 0;
        grid-row: 3;

    }
}