.intro__list {
    max-width: 690px;
    margin: 33px 0 0;
    padding: 0;

}

@media screen and (max-width:1140px) {
    .intro__list {
        margin: 34px 0 0;


    }
}

@media screen and (max-width: 980px) {
    .intro__list {
        max-width: 720px;

    }
}

@media screen and (max-width:568px) {
    .intro__list {
        max-width: 280px;
        margin: 35px 0 0;

    }
}