.lead {
    margin: 0 146px 0;
    max-width: calc(100% - 296px);
    box-sizing: border-box;
    font-family: "inter", Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

@media screen and (max-width:1140px) {
    .lead {
        margin: 0 44px;
        max-width: calc(100% - 96px);
        max-width: 928px;
    }
}

@media screen and (max-width: 980px) {
    .lead {
        margin: 0 0 39px;
        max-width: 100%;
    }
}

@media screen and (max-width: 568px) {
    .lead {
        margin: 0 0 25px;
        display: block;
    }
}