.header {
    width: 1190px;

    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 47px 52px;
}

@media (min-width: 1150px) and (max-width: 1280px) {
    .header {
        max-width: calc(100% - 96px);
    }
}

@media screen and (max-width:1140px) {
    .header {
        max-width: calc(100% - 94px);
        margin: 0 48px 45px;
    }
}

@media screen and (max-width: 980px) {
    .header {

        max-width: calc(100% - 43px);
        margin: 0 24px 45px;
    }
}

@media screen and (max-width: 568px) {
    .header {
        max-width: calc(100% - 32px);
        margin: 0 16px 46px;

    }
}