.content {
    flex-shrink: 0;
    display: grid;
    grid-row-gap: 82px;
    width: 100%;
}

@media screen and (max-width:1140px) {
    .content {
        grid-row-gap: 82px;

    }
}

@media screen and (max-width: 980px) {
    .content {
        grid-row-gap: 40px;
    }

}

@media screen and (max-width:568px) {
    .content {
        grid-row-gap: 30px;
    }
}