.intro {
    box-sizing: border-box;
    max-width: 690px;
    margin: 0 auto 0 148px;
    font-family: "inter", Arial, sans-serif;
}

@media screen and (max-width:1140px) {
    .intro {
        margin: 0 auto 0 48px;

    }
}

@media screen and (max-width: 980px) {
    .intro {
        max-width: 720px;
        margin: 0 24px;
    }
}

@media screen and (max-width:568px) {
    .intro {
        max-width: 288px;
        margin: 0 16px;
    }
}