.intro {
    box-sizing: border-box;
    max-width: 690px;
    margin: 0 auto 13px 148px;
    padding-top: 9px;
    font-family: "inter", Arial, sans-serif;

}

@media screen and (max-width:1140px) {
    .intro {
        padding-top: 8px;
        margin: 0 auto 10px 47px;

    }
}

@media screen and (max-width: 980px) {
    .intro {
        max-width: calc(100% - 48px);

        padding-top: 0;
        margin: 0 24px 47px;
    }
}

@media screen and (max-width:568px) {
    .intro {
        max-width: 320px;
        margin: 0 16px 35px;

    }
}