.lead__caption {
    min-width: 158px;
    margin:  0;
    align-self: flex-start;
    font-weight: 400;
    font-size: 0.625rem;
    line-height: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}
@media screen and (max-width: 980px) {
    .lead__caption{
        margin: 0 0 0 24px;
    }
}