.place {
    width: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr minmax(min-content, max-content);
    gap: 48px 40px;

}

@media screen and (max-width:1140px) {
    .place {
        gap: 60px 32px;

    }

    .place:nth-child(2n) {
        grid-row-gap: 45px;
    }

    .place:nth-child(4n) {
        grid-row-gap: 90px;
    }

}

@media screen and (max-width: 980px) {
    .place {
        gap: 48px 28px;


    }
}

@media screen and (max-width:568px) {
    .place {
        gap: 0 0px;
        margin: 0 0 75px 0;
        display: grid;
        grid-template-columns: minmax(min-content, max-content);

    }

    .place:nth-child(2n) {
        grid-row-gap: 0;
        margin: 0 0 29px;
    }

    .place:nth-child(3n) {
        margin: 0 0 49px;
    }

    .place:nth-child(4n) {
        grid-row-gap: 0;
        margin: 0 0 53px;


    }
}