.place {
    width: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr minmax(min-content, max-content);
    gap: 48px 36px;


}

.place:first-child {
    padding-top: 5px;
}


@media screen and (max-width:1140px) {
    .place {
        gap: 47px 30px;

    }

    .place:first-child {
        padding-top: 7px;
    }

    .place:nth-child(3n) {
        margin-bottom: 30px;
    }

    .place:nth-child(4n) {
        margin-bottom: 40px;
    }

}

@media screen and (max-width: 980px) {
    .place {
        gap: 45px 27px;
    }

    .place:first-child {
        padding-top: 11px;
        margin: 0 0 28px;
    }

    .place:nth-child(2n) {
        margin: 0 0 30px;
    }

    .place:nth-child(3n) {
        margin: 0 0 27px;
    }
}

@media screen and (max-width:740px) {
    .place {
        gap: 0;
        margin: 0;
        display: grid;
        grid-template-columns: minmax(min-content, max-content);

    }

    .place:first-child {
        padding-top: 6px;
        margin: 0 0 50px;
    }

    .place:nth-child(2n) {
        grid-row-gap: 0;
        margin: 0 0 24px;
    }

    .place:nth-child(3n) {
        margin: 0 0 50px;
    }

    .place:nth-child(4n) {
        grid-row-gap: 0;
        margin: 0 0 50px;

    }

}