    .footer {
        width: 1195px; 
       
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 84px 48px 0px;
    }

    @media screen and (max-width:1140px) {
        .footer {
            max-width: calc(100% - 80px);
            margin: 84px 48px 0;
        }
    }

    @media screen and (max-width: 980px) {
        .footer {
            max-width: calc(100% - 35px);
            margin: 80px 24px 0;
        }
    }

    @media screen and (max-width:568px) {
        .footer {
            max-width: calc(100% - 134px);
            margin: 57px auto 0px 10px;

            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;

        }
    }