.place__website {
    width: 456px;
    align-self: end;

}


@media screen and (max-width: 980px) {
    .place__website {
        width: 352px;

    }

}

@media (min-width: 570px) and (max-width: 740px) {
    .place__website {
        max-width: calc(100% - 416px);
    }
}

@media screen and (max-width:740px) {
    .place__website {
        width: 288px;
        margin: 0 16px;
    }
}